@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-gray-400;
  @apply content-[attr(data-placeholder)];
  @apply float-left;
  @apply pointer-events-none;
  @apply h-0;
}
